In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Here I have uploaded a dataset which i initially cleaned a few columns with power query such as (Product Category, Customer id). Then I have uploaded it on Kaggle to do cleansing and analysis on large scale. Below all steps are given.

# Baic setup

In [84]:
import pandas as pd
import numpy as np

# set the display options

In [85]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows', 200)

# DATA CLEANING & PROCESSING

In [86]:
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

# DATA VISUALIZATION

In [87]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")

# For better charts
import plotly.express as px
import plotly.graph_objects as go

# LOAD THE DATA

In [88]:
df_retail=pd.read_csv('/kaggle/input/online-retail/retail_2010_power_pivot.csv')
df_retail.head()

,Customer ID,Invoice,StockCode,Description,Quantity,InvoiceDate,InvoiceTime,InvoiceHour,InvoiceDaypart,Price,Country,TotalAmount,Category,Is_Non_Sale,Reason_Category,Lost_Quantity,Financial_Impact,Is_Valid_Sale,Customer_Type,Invoice_Type
0,17850,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010,08:26:00,8,Morning,2.55,United Kingdom,15.30,Electronics & Misc,0,No Issue,0,0.0,1,Customer,Invoice
1,17850,536365,71053,WHITE METAL LANTERN,6,01/12/2010,08:26:00,8,Morning,3.39,United Kingdom,20.34,Lighting,0,No Issue,0,0.0,1,Customer,Invoice
2,17850,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010,08:26:00,8,Morning,2.75,United Kingdom,22.00,Kitchenware,0,No Issue,0,0.0,1,Customer,Invoice
3,17850,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010,08:26:00,8,Morning,3.39,United Kingdom,20.34,Gardening & Outdoor,0,No Issue,0,0.0,1,Customer,Invoice
4,17850,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010,08:26:00,8,Morning,3.39,United Kingdom,20.34,Decor,0,No Issue,0,0.0,1,Customer,Invoice

# DATA CLEANSING

In [89]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer ID       541910 non-null  object
 1   Invoice           541910 non-null  object
 2   StockCode         541910 non-null  object
 3   Description       541910 non-null  object
 4   Quantity          541910 non-null  int64
 5   InvoiceDate       541910 non-null  object
 6   InvoiceTime       541910 non-null  object
 7   InvoiceHour       541910 non-null  int64
 8   InvoiceDaypart    541910 non-null  object
 9   Price             541910 non-null  float64
 10  Country           541910 non-null  object
 11  TotalAmount       541910 non-null  float64
 12  Category          541910 non-null  object
 13  Is_Non_Sale       541910 non-null  int64
 14  Reason_Category   541910 non-null  object
 15  Lost_Quantity     541910 non-null  int64
 16  Financial_Impact  541910 non-null  float64
 17  Is_Valid_Sale     541910 non-null  int64
 18  Customer_Type     541910 non-null  object
 19  Invoice_Type      541910 non-null  object
dtypes: float64(3), int64(5), object(12)
memory usage: 82.7+ MB

In [90]:
df_retail.describe(include='all')

,Customer ID,Invoice,StockCode,Description,Quantity,InvoiceDate,InvoiceTime,InvoiceHour,InvoiceDaypart,Price,Country,TotalAmount,Category,Is_Non_Sale,Reason_Category,Lost_Quantity,Financial_Impact,Is_Valid_Sale,Customer_Type,Invoice_Type
count,541910,541910,541910,541910,541910.000000,541910,541910,541910.000000,541910,541910.000000,541910,541910.000000,541910,541910.000000,541910,541910.000000,541910.000000,541910.000000,541910,541910
unique,4373,25900,4070,4224,NaN,305,774,NaN,3,NaN,38,NaN,31,NaN,8,NaN,NaN,NaN,4,3
top,Guest Customer,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,05/12/2011,15:56:00,NaN,Afternoon,NaN,United Kingdom,NaN,Home Decor,NaN,No Issue,NaN,NaN,NaN,Customer,Invoice
freq,135080,1114,2313,2369,NaN,5331,2628,NaN,350475,NaN,495478,NaN,126043,NaN,540221,NaN,NaN,NaN,406333,529075
mean,NaN,NaN,NaN,NaN,9.552234,NaN,NaN,13.078727,NaN,4.611138,NaN,17.987795,NaN,0.005960,NaN,0.149538,1.275675,0.996883,NaN,NaN
std,NaN,NaN,NaN,NaN,218.080957,NaN,NaN,2.443268,NaN,96.759765,NaN,378.810474,NaN,0.076973,NaN,12.340878,92.241076,0.055741,NaN,NaN
min,NaN,NaN,NaN,NaN,-80995.000000,NaN,NaN,6.000000,NaN,-11062.060000,NaN,-168469.600000,NaN,0.000000,NaN,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,11.000000,NaN,1.250000,NaN,3.400000,NaN,0.000000,NaN,0.000000,0.000000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,13.000000,NaN,2.080000,NaN,9.750000,NaN,0.000000,NaN,0.000000,0.000000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,15.000000,NaN,4.130000,NaN,17.400000,NaN,0.000000,NaN,0.000000,0.000000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,80995.000000,NaN,NaN,20.000000,NaN,38970.000000,NaN,168469.600000,NaN,1.000000,NaN,3100.000000,38970.000000,1.000000,NaN,NaN

In [91]:
#checking null
print(df_retail.isnull().sum())

Customer ID         0
Invoice             0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
InvoiceTime         0
InvoiceHour         0
InvoiceDaypart      0
Price               0
Country             0
TotalAmount         0
Category            0
Is_Non_Sale         0
Reason_Category     0
Lost_Quantity       0
Financial_Impact    0
Is_Valid_Sale       0
Customer_Type       0
Invoice_Type        0
dtype: int64

In [92]:
df_retail['InvoiceDate']= pd.to_datetime(df_retail['InvoiceDate'], format="%d/%m/%Y")
df_retail['InvoiceTime'] = pd.to_datetime(df_retail['InvoiceTime']).dt.time

In [93]:
print(df_retail['InvoiceDate'].dtype)
print(df_retail['InvoiceTime'].dtype)

datetime64[ns]
object

In [94]:
#checking invoice_Type
neg_quant=df_retail[
    (df_retail['Quantity'] < 0) & (df_retail['Invoice_Type'] != "Return")
][['Invoice','Quantity','Invoice_Type']].head(10)
print(neg_quant.head())

     Invoice  Quantity Invoice_Type
141  C536379        -1       Credit
154  C536383        -1       Credit
235  C536391       -12       Credit
236  C536391       -24       Credit
237  C536391       -24       Credit

In [95]:
df_retail['Invoice_Type']=df_retail.apply(lambda x:'Return' if(x['Quantity']<0 or str(x['Invoice']).startswith('C')) else 'Invoice', axis=1)

In [96]:
neg_count1=df_retail[
    (df_retail['Quantity'] < 0) & (df_retail['Invoice_Type'] != "Return")
][['Invoice','Quantity','Invoice_Type']]

In [97]:
#checking Positive Quantity
pos_quant=df_retail[(df_retail['Quantity']>0)&(df_retail['Invoice_Type']=="Return")][['Invoice','Quantity','Invoice_Type']].head(10)
print(pos_quant)

Empty DataFrame
Columns: [Invoice, Quantity, Invoice_Type]
Index: []

In [98]:
# safety backup (optional but recommended)
df_backup = df_retail.copy()

# Dropping columns to recreate those with better logic

In [99]:

cols_to_drop=[
    'Is_Non_Sale','Reason_Category','Lost_Quantity','Financial_Impact',
    'Is_Valid_Sale','Customer_Type','Invoice_Type']
df_retail=df_retail.drop(columns=[c for c in cols_to_drop if c in df_retail.columns], errors='ignore')

# Invoice_Type Column Creation

In [100]:
df_retail['Invoice_Type'] = df_retail['Invoice'].astype(str).str.startswith("C")
df_retail['Invoice_Type']= df_retail['Invoice_Type'].replace({True:"Return", False:"Sale"})
df_retail.loc[df_retail['Quantity']<0,'Invoice_Type']='Return'

df_retail.loc[(df_retail['Invoice'].astype(str).str.startswith("C"))&(df_retail['Quantity']>0),'Invoice_Type']="Check Manual"

# Is_Valid_Sale column creation

In [101]:
df_retail['Is_Valid_Sale']=0
valid_sale_condition=((df_retail['Invoice_Type']=='Sale')&
                        (df_retail['Quantity']>0)&
                        (df_retail['Price'] > 0)&
                      (df_retail['Customer ID'].notnull()) 
                     )
df_retail.loc[valid_sale_condition,'Is_Valid_Sale']=1

In [102]:
print(df_retail['Is_Valid_Sale'].value_counts())

Is_Valid_Sale
1    530105
0     11805
Name: count, dtype: int64

In [103]:
df_retail['Price'] = pd.to_numeric(df_retail['Price'], errors='coerce').fillna(0)
df_retail['Quantity'] = pd.to_numeric(df_retail['Quantity'], errors='coerce').fillna(0)
df_retail['TotalAmount'] = df_retail['Quantity'] * df_retail['Price']

In [104]:
# If both are negative, flip them
df_retail.loc[(df_retail['Quantity'] < 0) & (df_retail['Price'] < 0), ['Quantity', 'Price']] *= -1

df_retail['TotalAmount_New'] = df_retail['Quantity'] * df_retail['Price']
df_retail[['Quantity','Price','TotalAmount','TotalAmount_New']].head(10)

   Quantity  Price  TotalAmount  TotalAmount_New
0         6   2.55        15.30            15.30
1         6   3.39        20.34            20.34
2         8   2.75        22.00            22.00
3         6   3.39        20.34            20.34
4         6   3.39        20.34            20.34
5         2   7.65        15.30            15.30
6         6   4.25        25.50            25.50
7         6   1.85        11.10            11.10
8         6   1.85        11.10            11.10
9         6   4.25        25.50            25.50

In [105]:
(df_retail['TotalAmount'] != df_retail['TotalAmount_New']).sum()

0

# Revenue column creation

In [106]:
df_retail["Revenue"]=df_retail.apply(lambda x: x["TotalAmount"] if x['Is_Valid_Sale']==1 else 0, axis=1)
print(df_retail[['Invoice','Customer ID','TotalAmount','Is_Valid_Sale','Revenue']].head(10))

  Invoice Customer ID  TotalAmount  Is_Valid_Sale  Revenue
0  536365       17850        15.30              1    15.30
1  536365       17850        20.34              1    20.34
2  536365       17850        22.00              1    22.00
3  536365       17850        20.34              1    20.34
4  536365       17850        20.34              1    20.34
5  536365       17850        15.30              1    15.30
6  536365       17850        25.50              1    25.50
7  536366       17850        11.10              1    11.10
8  536366       17850        11.10              1    11.10
9  536368       13047        25.50              1    25.50

# Quantity Positive Validation Column

In [107]:
df_retail['Is_Positive_Quantity'] = df_retail['Quantity'].apply(lambda x: 1 if x>0 else 0)

In [108]:
df_retail.drop(columns=["TotalAmount_New"], inplace=True)

In [109]:
print(df_retail[df_retail['Is_Valid_Sale'] == 0][['Description', 'Revenue', 'Is_Valid_Sale']].drop_duplicates().shape[0])

2184

In [110]:

non_sale_desc = (
    df_retail[df_retail['Is_Valid_Sale'] == 0]['Description']
    .value_counts()
    .head(50) 
)

print(non_sale_desc.head(250))

Description
False Order                            1454
Manual                                  250
REGENCY CAKESTAND 3 TIER                183
check                                   159
POSTAGE                                 126
JAM MAKING SET WITH JARS                 88
Discount                                 77
SET OF 3 CAKE TINS PANTRY DESIGN         74
SAMPLES                                  61
STRAWBERRY CERAMIC TRINKET BOX           56
ROSES REGENCY TEACUP AND SAUCER          55
RECIPE BOX PANTRY YELLOW DESIGN          54
JUMBO BAG RED RETROSPOT                  47
?                                        47
WHITE HANGING HEART T-LIGHT HOLDER       46
damages                                  45
WOOD 2 DRAWER CABINET WHITE FINISH       45
LUNCH BAG RED RETROSPOT                  44
GREEN REGENCY TEACUP AND SAUCER          44
damaged                                  43
RED RETROSPOT CAKE STAND                 42
SMALL GLASS HEART TRINKET POT            40
SET OF 3 REGENCY CAKE TINS               37
POPCORN HOLDER                           36
PINK REGENCY TEACUP AND SAUCER           36
SET OF TEA COFFEE SUGAR TINS PANTRY      35
SILVER HANGING T-LIGHT HOLDER            35
CLASSIC GLASS COOKIE JAR                 35
SET/5 RED RETROSPOT LID GLASS BOWLS      34
ALARM CLOCK BAKELIKE RED                 33
NATURAL SLATE CHALKBOARD LARGE           32
AMAZON FEE                               32
BREAD BIN DINER STYLE IVORY              31
HANGING HEART JAR T-LIGHT HOLDER         30
GUMBALL COAT RACK                        30
SWEETHEART CERAMIC TRINKET BOX           29
SWEETHEART CAKESTAND 3 TIER              29
PARISIENNE KEY CABINET                   28
LANTERN CREAM GAZEBO                     27
BAKING SET 9 PIECE RETROSPOT             27
CREAM SWEETHEART MINI CHEST              26
found                                    25
FAMILY PHOTO FRAME CORNICE               25
VICTORIAN GLASS HANGING T-LIGHT          25
CERAMIC CAKE STAND + HANGING CAKES       25
Bank Charges                             25
COLOUR GLASS. STAR T-LIGHT HOLDER        24
GLASS  BEURRE DISH                       24
RED KITCHEN SCALES                       24
PIGGY BANK RETROSPOT                     24
Name: count, dtype: int64

# Reason_Category column creation

In [116]:
desc= df_retail["Description"].astype(str).str.lower()

def get_reason(desc,qty,invoice_type):

    if qty<0 and invoice_type =="Return":
        return "Return"
    
    fraud_keywords=['false order', 'check', 'found']
    if any(k in desc for k in fraud_keywords):
        return "Fraud / False Order"
    
    manual_keywords = ['manual', 'discount', 'bank charge', 'amazon fee']
    if any(k in desc for k in manual_keywords):
        return "Manual Adjustment"
    
    Damaged_keuwords=['damag', 'damage', 'loss', 'lost']
    if any (k in desc for k in Damaged_keuwords):
        return "Damaged / Missing Item"
    
    if 'postage' in desc:
        return "Postage / Shipping Fee"
    
    if 'sample' in desc:
        return "Postage / Shipping Fee"
    
    if desc in ['?', '??','???','###'] or len(desc) < 3:
        return "Unknown / Miscellaneous"
    
    return "Valid Sale"

df_retail["Reason_Category"]=df_retail.apply(lambda row: get_reason(str(row['Description']).lower(), row["Quantity"], row["Invoice_Type"]), axis=1)

# Changing is_valid_sale value based on invalid categories

In [118]:

df_retail['Is_Valid_Sale'] = df_retail['Reason_Category'].apply(lambda x: 1 if x == "Valid Sale" else 0)

# check
df_retail[['Invoice','Customer ID','Reason_Category','Is_Valid_Sale','Revenue']].head(10)

  Invoice Customer ID Reason_Category  Is_Valid_Sale  Revenue
0  536365       17850      Valid Sale              1    15.30
1  536365       17850      Valid Sale              1    20.34
2  536365       17850      Valid Sale              1    22.00
3  536365       17850      Valid Sale              1    20.34
4  536365       17850      Valid Sale              1    20.34
5  536365       17850      Valid Sale              1    15.30
6  536365       17850      Valid Sale              1    25.50
7  536366       17850      Valid Sale              1    11.10
8  536366       17850      Valid Sale              1    11.10
9  536368       13047      Valid Sale              1    25.50

# Revenue column creation

In [119]:
df_retail['Revenue'] = df_retail.apply(lambda x: x['Quantity'] * x['Price'] if x['Is_Valid_Sale'] == 1 else 0, axis=1)

# Lost_Quantity column creation

In [124]:

#df_retail.drop(columns=['Lost_Quantity'], inplace=True)

df_retail['Non_Sale_Quantity'] = df_retail.apply(lambda x: x['Quantity'] if x['Is_Valid_Sale'] == 0 else 0,axis=1)

# check
df_retail[['Invoice','Customer ID','Quantity','Is_Valid_Sale','Non_Sale_Quantity']].head(10)

  Invoice Customer ID  Quantity  Is_Valid_Sale  Non_Sale_Quantity
0  536365       17850         6              1                  0
1  536365       17850         6              1                  0
2  536365       17850         8              1                  0
3  536365       17850         6              1                  0
4  536365       17850         6              1                  0
5  536365       17850         2              1                  0
6  536365       17850         6              1                  0
7  536366       17850         6              1                  0
8  536366       17850         6              1                  0
9  536368       13047         6              1                  0

# Financial_Impact column creation

In [127]:
df_retail['Financial_Impact'] = df_retail.apply(lambda x: x['Quantity'] * x['Price'] if x['Is_Valid_Sale'] == 0 else 0,axis=1)
#check
df_retail[['Invoice','Customer ID','Quantity','Is_Valid_Sale','Non_Sale_Quantity','Financial_Impact']].head(10)

,Invoice,Customer ID,Quantity,Is_Valid_Sale,Non_Sale_Quantity,Financial_Impact
0,536365,17850,6,1,0,0.0
1,536365,17850,6,1,0,0.0
2,536365,17850,8,1,0,0.0
3,536365,17850,6,1,0,0.0
4,536365,17850,6,1,0,0.0
5,536365,17850,2,1,0,0.0
6,536365,17850,6,1,0,0.0
7,536366,17850,6,1,0,0.0
8,536366,17850,6,1,0,0.0
9,536368,13047,6,1,0,0.0

# Customer_Type creation

In [128]:
df_retail['Customer_Type'] = df_retail['Customer ID'].apply(lambda x: 'Guest' if x.strip().lower() == 'guest customer' else 'Customer')

# check
df_retail[['Customer ID','Customer_Type']].drop_duplicates().head(10)

    Customer ID Customer_Type
0         17850      Customer
9         13047      Customer
26        12583      Customer
46        13748      Customer
65        15100      Customer
82        15291      Customer
86        14688      Customer
105       17809      Customer
106       15311      Customer
141       14527      Customer

# Customer_Invoice_Count column creation

In [129]:
# Step 1: valid sales filter 
valid_sales = df_retail[df_retail['Is_Valid_Sale'] == 1]

df_customer_invoice = valid_sales.groupby('Customer ID')['Invoice'].nunique().reset_index()
df_customer_invoice.rename(columns={'Invoice': 'Customer_Invoice_Count'}, inplace=True)

df_retail = df_retail.merge(df_customer_invoice, on='Customer ID', how='left')

df_retail['Customer_Invoice_Count'] = df_retail['Customer_Invoice_Count'].fillna(0).astype(int)

# Check 
df_retail[['Customer ID','Customer_Invoice_Count']].drop_duplicates().head(10)

    Customer ID  Customer_Invoice_Count
0         17850                      34
9         13047                       9
26        12583                      15
46        13748                       5
65        15100                       3
82        15291                      14
86        14688                      21
105       17809                      12
106       15311                      91
141       14527                      55

# Customer_Quantity_Sum creation

In [130]:
# Step 1: valid sales filter
valid_sales = df_retail[df_retail['Is_Valid_Sale'] == 1]

df_customer_qty = valid_sales.groupby('Customer ID')['Quantity'].sum().reset_index()
df_customer_qty.rename(columns={'Quantity': 'Customer_Quantity_Sum'}, inplace=True)

df_retail = df_retail.merge(df_customer_qty, on='Customer ID', how='left')

df_retail['Customer_Quantity_Sum'] = df_retail['Customer_Quantity_Sum'].fillna(0).astype(int)

# Check
df_retail[['Customer ID','Customer_Quantity_Sum']].drop_duplicates().head(10)

    Customer ID  Customer_Quantity_Sum
0         17850                   1733
9         13047                   1390
26        12583                   5028
46        13748                    439
65        15100                     80
82        15291                   2102
86        14688                   3621
105       17809                   2057
106       15311                  38193
141       14527                   2080

# Customer_Revenue_Sum

In [131]:
# Step 1: valid sales filter
valid_sales = df_retail[df_retail['Is_Valid_Sale'] == 1]

df_customer_revenue = valid_sales.groupby('Customer ID')['Revenue'].sum().reset_index()
df_customer_revenue.rename(columns={'Revenue': 'Customer_Revenue_Sum'}, inplace=True)

df_retail = df_retail.merge(df_customer_revenue, on='Customer ID', how='left')

df_retail['Customer_Revenue_Sum'] = df_retail['Customer_Revenue_Sum'].fillna(0)

# Check
df_retail[['Customer ID','Customer_Revenue_Sum']].drop_duplicates().head(10)

    Customer ID  Customer_Revenue_Sum
0         17850               5391.21
9         13047               3232.59
26        12583               6705.38
46        13748                948.25
65        15100                876.00
82        15291               4623.30
86        14688               5630.87
105       17809               5411.91
106       15311              60765.80
141       14527               8457.12

# Recency_Days

In [132]:

# Step 1: valid sales only filter
valid_sales = df_retail[df_retail['Is_Valid_Sale'] == 1]


last_purchase = valid_sales.groupby('Customer ID')['InvoiceDate'].max().reset_index()
last_purchase.rename(columns={'InvoiceDate':'Last_Purchase_Date'}, inplace=True)

analysis_date = df_retail['InvoiceDate'].max()

last_purchase['Recency_Days'] = (analysis_date - last_purchase['Last_Purchase_Date']).dt.days

df_retail = df_retail.merge(last_purchase[['Customer ID','Recency_Days']], on='Customer ID', how='left')

df_retail['Recency_Days'] = df_retail['Recency_Days'].fillna(0).astype(int)

# Check
df_retail[['Customer ID','Recency_Days']].drop_duplicates().head(10)

    Customer ID  Recency_Days
0         17850           372
9         13047            56
26        12583             2
46        13748            95
65        15100           333
82        15291            25
86        14688             7
105       17809            16
106       15311             0
141       14527             2

# Monetary_Value

In [133]:
# Step 1: valid sales only
valid_sales = df_retail[df_retail['Is_Valid_Sale'] == 1]

customer_revenue = valid_sales.groupby('Customer ID')['Revenue'].sum().reset_index()
customer_revenue.rename(columns={'Revenue':'Total_Revenue'}, inplace=True)

customer_invoice_count = valid_sales.groupby('Customer ID')['Invoice'].nunique().reset_index()
customer_invoice_count.rename(columns={'Invoice':'Invoice_Count'}, inplace=True)

customer_monetary = pd.merge(customer_revenue, customer_invoice_count, on='Customer ID', how='left')
customer_monetary['Monetary_Value'] = customer_monetary['Total_Revenue'] / customer_monetary['Invoice_Count']

df_retail = df_retail.merge(customer_monetary[['Customer ID','Monetary_Value']], on='Customer ID', how='left')

df_retail['Monetary_Value'] = df_retail['Monetary_Value'].fillna(0)

# Check
df_retail[['Customer ID','Monetary_Value']].drop_duplicates().head(10)

    Customer ID  Monetary_Value
0         17850      158.565000
9         13047      359.176667
26        12583      447.025333
46        13748      189.650000
65        15100      292.000000
82        15291      330.235714
86        14688      268.136667
105       17809      450.992500
106       15311      667.756044
141       14527      153.765818

# Avg_Order_Value (Basically, Invoice-wise total Revenue assign )

In [134]:
# Step 1: valid sales only
valid_sales = df_retail[df_retail['Is_Valid_Sale'] == 1]

invoice_revenue = valid_sales.groupby('Invoice')['Revenue'].sum().reset_index()
invoice_revenue.rename(columns={'Revenue':'Avg_Order_Value'}, inplace=True)

df_retail = df_retail.merge(invoice_revenue, on='Invoice', how='left')

df_retail['Avg_Order_Value'] = df_retail['Avg_Order_Value'].fillna(0)

# Check
df_retail[['Invoice','Avg_Order_Value']].drop_duplicates().head(10)

   Invoice  Avg_Order_Value
0   536365           139.12
7   536366            22.20
9   536368            70.05
13  536367           278.73
25  536369            17.85
26  536370           801.86
46  536371           204.00
47  536372            22.20
49  536373           259.86
65  536374           350.40

# Cleaned Data View

In [135]:
print(df_retail.head())

  Customer ID Invoice StockCode                          Description  \
0       17850  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1       17850  536365     71053                  WHITE METAL LANTERN
2       17850  536365    84406B       CREAM CUPID HEARTS COAT HANGER
3       17850  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4       17850  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.

   Quantity InvoiceDate InvoiceTime  InvoiceHour InvoiceDaypart  Price  \
0         6  2010-12-01    08:26:00            8        Morning   2.55
1         6  2010-12-01    08:26:00            8        Morning   3.39
2         8  2010-12-01    08:26:00            8        Morning   2.75
3         6  2010-12-01    08:26:00            8        Morning   3.39
4         6  2010-12-01    08:26:00            8        Morning   3.39

          Country  TotalAmount             Category Invoice_Type  \
0  United Kingdom        15.30   Electronics & Misc         Sale
1  United Kingdom        20.34             Lighting         Sale
2  United Kingdom        22.00          Kitchenware         Sale
3  United Kingdom        20.34  Gardening & Outdoor         Sale
4  United Kingdom        20.34                Decor         Sale

   Is_Valid_Sale  Revenue  Is_Positive_Quantity Reason_Category  \
0              1    15.30                     1      Valid Sale
1              1    20.34                     1      Valid Sale
2              1    22.00                     1      Valid Sale
3              1    20.34                     1      Valid Sale
4              1    20.34                     1      Valid Sale

   Non_Sale_Quantity  Financial_Impact Customer_Type  Customer_Invoice_Count  \
0                  0               0.0      Customer                      34
1                  0               0.0      Customer                      34
2                  0               0.0      Customer                      34
3                  0               0.0      Customer                      34
4                  0               0.0      Customer                      34

   Customer_Quantity_Sum  Customer_Revenue_Sum  Recency_Days  Monetary_Value  \
0                   1733               5391.21           372         158.565
1                   1733               5391.21           372         158.565
2                   1733               5391.21           372         158.565
3                   1733               5391.21           372         158.565
4                   1733               5391.21           372         158.565

   Avg_Order_Value
0           139.12
1           139.12
2           139.12
3           139.12
4           139.12

In [136]:
df_retail.to_csv('/kaggle/working/cleaned_Online_Retail_Dataset.csv', index=False)